<%-include("partials/header.ejs")%>
	<div class="ui huge header">New Blog</div>
	<form action="/blogs" method="POST" class="ui form" enctype="multipart/form-data">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" placeholder="title">
		</div>
		<div class="field">
			<label>Image|Video</label>
			<input type="file" name="file" capture>
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea name="blog[body]" required></textarea>
		</div>
		<button class="ui violet basic button" type="submit">Submit</button>
	</form>
</div>
<%-include("partials/footer.ejs")%>